.wrap {
    position: relative;
    margin-Top: 10vmin;
    align-self: center;
    width: 80vmin;
    height: 80vmin;
    background: inherit;
    transform: scale(1) translateZ(0px);
    opacity: 1;
}

.wrap a {
    position: absolute;
    left: 0;
    top: 0;
    width: 47.5%;
    height: 47.5%;
    overflow: hidden;
    transform: scale(1) translateZ(0px);
    background: white;
}

.wrap a div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-size: cover;
    opacity: 1;
    border-radius: inherit;
}

.wrap a div span {
    transform: rotate(45deg);
    font-Weight: bold;

    color: white
}

.wrap a:nth-child(4) div span {
    transform: rotate(315deg);
    margin-top: 10px;
}

.wrap a:nth-child(1) div span {
    transform: rotate(315deg);
    margin-bottom: 10px;

}

.wrap a:nth-child(3) div span {
    transform: rotate(-315deg);
    margin-top: 10px;

}
.wrap a:nth-child(2) div span {
    transform: rotate(-315deg);
    margin-bottom: 12px;

}

.wrap a:nth-child(1) {
    border-radius: 40vmin 0 0 0;
    transform-origin: 110% 110%;
    transition: transform 0.4s 0.15s;
}

.wrap a:nth-child(1) div {
    background: linear-gradient(180deg, #7450CD 0%, #A590E8 32%, #67BBD4 64%, #6CC3CC 100%);
}

.wrap a:nth-child(2) {
    border-radius: 0 40vmin 0 0;
    left: 52.5%;
    transform-origin: -10% 110%;
    transition: transform 0.4s 0.2s;
}

.wrap a:nth-child(2) div {
    background:#7450CD;
}

.wrap a:nth-child(3) {
    border-radius: 0 0 0 40vmin;
    top: 52.5%;
    transform-origin: 110% -10%;
    transition: transform 0.4s 0.25s;
}

.wrap a:nth-child(3) div {
   
    background: #6CC3CC;
}

.wrap a:nth-child(4) {
    border-radius: 0 0 40vmin 0;
    left: 52.5%;
    top: 52.5%;
    transform-origin: -10% -10%;
    transition: transform 0.4s 0.3s;
}

.wrap a:nth-child(4) div {
  
    background: linear-gradient(180deg, #7450CD 12%, #A590E8 41%, #67BBD4 60%, #6CC3CC 100%);
}

.wrap a:nth-child(5) {
    border-radius: 50vmin;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    transform-origin: -10% -10%;
    transform: scale(1);
}

/*.wrap a:nth-child(5) div {*/
/*    background: white url('@/assets/president.png') no-repeat center center;*/
/*    background-size: contain;*/
/*}*/

.wrap a:hover div {
    filter: blur(1px);
}

.wrap a:nth-child(5):hover div {
    background: white url('@/assets/president.png') no-repeat center center;
    background-size: contain;
    transform: none;
    filter: blur(0px);
}

.wrap a:hover {
    transform: scale(1.1);
}

.wrap a:nth-child(5):hover {
    transform: scale(1);
}